* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial, sans-serif;
}

.row-container {
    height: 100%;
    display: flex;
    flex-direction: row;
}

.column-container {
    height: 100%;
    display: flex;
    width: 100%;
    flex-direction: column;
}

.tmb-screen {
    width: 800px;
    height: 300px;
    background: #fff;
    border: 10px solid #333;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
}

/* Header Section */
.header {
    display: flex;
    align-items: center;
    background: #f3f3f3;
    padding: 10px;
    border-bottom: 5px solid #ccc;
}

.column {
    padding: 10px;
    max-width: 10%;
    height: 100%;
    background-color: black;
    color: white;
    position: relative; /* Establish a context for absolute positioning */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.column-logo {
    width: 50px;
    height: 50px;
    background: #ff0000;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    margin-inline: auto;
}

.column-logo .column-icon {
    width: 30px;
    height: 30px;
    background: #fff;
    border-radius: 50%;
}

.column-time {
    width: 100%;
    margin-top: auto;
    text-align: center;
    margin-inline: auto;
}

.column-time * {
    margin: 0;
}

.destination {
    flex: 1;
}

.destination h1 {
    font-size: 1.8rem;
    margin: 0;
    color: #000;
}

.destination p {
    margin: 0;
    color: #666;
    font-size: 1rem;
}

/* Content Section */
.content {
    flex: 1;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.arrival,
.remaining-time {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.line-number {
    font-size: 2rem;
    font-weight: bold;
    color: #666;
}

.time {
    font-size: 4rem;
    font-weight: bold;
    color: #000;
}